@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Dongle', sans-serif;
  font-size: 2em;
  background-image: url('../public/pattern.png');
}

body {
  width: 100vw;
  height: 100vh;
}

@layer components {
  .test {
    font-size: 40px;
    font-weight: bold;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 576px;
    height: 100%;

    margin-top: 4rem;
    padding-bottom: 2rem;
    overflow: scroll;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
