@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Dongle', sans-serif;
  font-size: 2em;
}

body {
  width: 100vw;
  height: 100vh;
}

@layer components {
  .test {
    background-color: pink;
    font-size: 40px;
    font-weight: bold;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
