@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .test {
    background-color: pink;
    font-size: 40px;
    font-weight: bold;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background: #eee;
}

#root {
  display: flex;
  justify-content: center;
}
